$color_1: #ee0006;
$color_2: #1b0e92;
$color_3: #ececec; // border 2
$color_4: #00b0b9;
$color_5: #ffb800;
$color_6: #ffffff4a;
$color_7: #43bd68; // #2cb75e
$color_8: #7d7d7d; // sup titel & disable
$color_9: #353535;
$color_10: #4e5660;
$color_11: #d5d5d5; // border
$color_12: #80d7dc;
$color_13: #ffffffe6;
$color_14: #e6a200;
$color_15: #2699fb;
$color_16: #00b154;
$color_17: #74bec3;
$color_18: #000;
$color_19: #fff;
$color_20: #b2d7d9; // border 3
$color_21: #cef2f4;
$color_22: #00b0b9;
$color_23: #e2e2e3;
$color_24: #025ee1;
$color_25: #e6e6e68c;
