$motorcycle: url('../content/images/vehicleTypes/Motorcycle.svg');
$lightVehicle: url('../content/images/vehicleTypes/LightVehicle.svg');
$lightBus: url('../content/images/vehicleTypes/LightBus.svg');
$lightEquipment: url('../content/images/vehicleTypes/LightEquipment.svg');
$heavyBus: url('../content/images/vehicleTypes/HeavyBus.svg');
$heavyEquipment: url('../content/images/vehicleTypes/HeavyEquipment.svg');
$heavyVehicle: url('../content/images/vehicleTypes/HeavyVehicle.svg');
